<?xml version="1.0" encoding="UTF-8" ?> 
<beans xmlns="http://www.springframework.org/schema/beans" 
        
       xmlns:context="http://www.springframework.org/schema/context" 
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:aop = "http://www.springframework.org/schema/aop"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context-3.0.xsd
  http://www.springframework.org/schema/data/jpa
http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
  http://www.springframework.org/schema/aop 
   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
 http://www.springframework.org/schema/tx
 http://www.springframework.org/schema/tx/spring-tx.xsd">
    
    <context:component-scan base-package="com.myfirstproject"/>
    <context:annotation-config/>
    <jpa:repositories base-package="com.myfirstproject.Repositories"/>

    
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" /> 
        <property name="url" value="jdbc:mysql://localhost:3306/dbusers" /> 
        <property name="username" value="root" /> 
        <property name="password" value="root" /> 
    </bean>        
        
    <bean id="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource" />
        
        <!--mapping instruction-->
        <property name="packagesToScan" value="com.myfirstproject" />
        
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" >
                <property name="generateDdl" value="true"/>
                <property name="showSql" value="true"/>
            </bean>
        </property>        
    </bean>
    
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="list*" read-only="true"/>
            <tx:method name="get*" read-only="true"/>
            <tx:method name="*"/>
        </tx:attributes>        
    </tx:advice>
    
    <aop:config>
        <aop:pointcut id="serviceMethods" expression="execution(* com.myfirstproject.service.PersonService.*(..))"/>
        <aop:advisor pointcut-ref="serviceMethods" advice-ref="txAdvice"/>
    </aop:config> 
           
    <!-- Configure the transaction manager bean -->
    <bean id="transactionManager"   class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
    
 <!--   <tx:annotation-driven transaction-manager="transactionManager"/>-->
    
    <!--
    <bean id="hibernate4AnnotatedSessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" /> 
        <property name="annotatedClasses">
            <list>
                <value>com.myfirstproject.Person</value> 
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</prop> 
                <prop key="hibernate.current_session_context_class">thread</prop> 
                <prop key="hibernate.show_sql">false</prop>
               <prop key="hibernate.hbm2ddl.auto">create</prop>
            </props>
        </property>
    </bean>
    -->
    <!--  <bean id="personDAO" class="com.myfirstproject.dao.PersonDaoImpl">
       <! <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" /> 
    </bean>-->
    
</beans>